{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% trans 'Account Login' %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
  </head>
  
{% load rest_framework %}

<body>

<h1>Welcome!!</h1>

<form action="{% url 'home_page'%}" method="GET">
    {% csrf_token %}
    <p>hh</p>

</form>

</body></html>