{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    </head>
  <body>
  {% block inner %}
  <h2>SENTINEL</h2>
  <form method="post" action="{% url 'home_page' %}">
    {% csrf_token %}
    <div class="main">
    <p><div class="login-content-container">
            <div class="login-form-main">
                <h1 class="signin">Sign Up</h1>
                <form method="post" class="login-form" action>
                <div class="login-input-email">
                    <div class="EmailPhoneControls">
                        <label class='input_id'>
                            <input type="text" name="userLoginId" class="nfTextField" id="id_userLoginId" autocomplete="email" dir>
                            <label for="id_userLoginId" class="placeLabel">
                                Username
                            </label>
                        </label>
                    </div>
                </div>
                <div class="login-input-email">
                    <div class="PasswordControls">
                        <label class="input_id">
                            <input type = "password" name="password" class="nfTextField" id="id_password" autocomplete="password" dir>
                            <label for="id_password" class="placeLabel" >Email</label>
                        </label>
                    </div>
                </div>
                <div class="login-input-password">
                    <div class="PasswordControls">
                        <label class="input_id">
                            <input type = "password" name="password" class="nfTextField" id="id_password" autocomplete="password" dir>
                            <label for="id_password" class="placeLabel" >Password </label>
                        </label>
                    </div>
                </div>
                <button class="login-button" type="submit" >Sign Up</button></p>
      </div>

        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
 </form>
 <a href="{% url 'login_page' %}" class="btn btn-link">{% trans 'Sign In' %}</a>
  </body>
{% endblock %}